@import "http://fonts.googleapis.com/css?family=Noto+Sans";

.image-circle{
  border-radius: 50%;
  width: 175px;
  height: 175px;
  border: 4px solid #FFF;
  margin: 10px;
}
.outter{
  padding: 0px;
  border: 1px solid rgba(255, 255, 255, 0.29);
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

span.icon { 
  font-family: FontAwesome; 
}

.table {
	font-size: 15px;
}

.lint-error {
  font: 13px 'Noto Sans', sans-serif;
  color: red; 
  padding: 2px 5px 3px; 
}
.lint-error-icon:before {
  content: "\f06a";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;

  color: red;
  font-size: 15px;
  font-weight: bold; 
  border-radius: 50%; 
  padding: 0 3px; 
  margin-right: 7px;
}

.container{
  width: 1900px;
}

body {
  padding-top: 140px; 
  font-size: 17px;
}

#gamepanel{
  width: 520px;
}

#divchat{
 width: 520px;   
 height: 550px;  

}

#divchatmain{
 width: 520px; 
 height: 550px;  
 margin-left: 30px;
}

#chat{
 height: 498px;  

}

#chatthread{
 height: 520px;  

}

#gamediv{
 width: 520px;   
}

#console{
 width: 500px;   
}

#submitButton{
 width: 146px;  
 height: 60px; 
}

#submitButtonSymbol{
  font-size: 25px;
}

#evaluateButton{
 width: 148px;   
 height: 60px;
}

#evaluateButtonSymbol{
  font-size: 25px;
}

#hintButton{
 width: 148px; 
 height: 60px;  
}

#hintButtonSymbol{
  font-size: 25px;

}

#refreshButton{
 width: 148px; 
 height: 60px;  
}

#refreshButtonSymbol{
  font-size: 25px;

}

#returnButton{
  width: 509px;
  height: 60px;  
  font-size: 25px; 
}

#docButton{
  width: 148px;
  height: 60px;  
  font-size: 25px; 
  background-color: green;
  border-color: green;
}



/*#returnButtonSymbol{
  font-size: 25px;

  }*/

  #controllerbody{
   width: 516px;   
 }

 #scorebar2{
  background-color: limegreen;

}

#timebar{
  width: 1000px;
}

#progressbar{
 width: 1855px; 
 margin-top: 5px;
}

#ul{
  margin-right: 45px;
}
.progress.active .progress-bar {
  -webkit-transition: none !important;
  transition: none !important;
}

#displayscorerank{
  width: 350px;
}