@import "http://fonts.googleapis.com/css?family=Noto+Sans";

.image-circle{
    border-radius: 50%;
    width: 175px;
    height: 175px;
    border: 4px solid #FFF;
    margin: 10px;
}
.outter{
    padding: 0px;
    border: 1px solid rgba(255, 255, 255, 0.29);
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

span.icon { 
  font-family: FontAwesome; 
}

.table {
	font-size: 15px;
}

.lint-error {
  font: 13px 'Noto Sans', sans-serif;
  color: red; 
  padding: 2px 5px 3px; 
}
.lint-error-icon:before {
    content: "\f06a";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;

    color: red;
    font-size: 15px;
    font-weight: bold; 
    border-radius: 50%; 
    padding: 0 3px; 
    margin-right: 7px;
}

.container{
    width: 1900px;
}

body {
    padding-top: 140px; 
    font-size: 17px;
}

#gamepanel{
    width: 520px;
}

#divchat{
   width: 520px;   
   height: 550px;  

}

#divchatmain{
   width: 520px; 
   height: 550px;  
   margin-left: 30px;
}

#chat{
   height: 550px;  

}

#chatthread{
   height: 520px;  

}

#gamediv{
   width: 520px;   
}

#console{
   width: 500px;   
}

#submitButton{
   width: 186px;  
   height: 60px; 
}

#evaluateButton{
   width: 186px;   
   height: 60px;
}

#hintButton{
   width: 186px; 
   height: 60px;  
}

#refreshButton{
   width: 186px; 
   height: 60px;  
}

#returnButton{
    width: 509px;
     height: 60px;   
}

#controllerbody{
   width: 516px;   
}

#progressbar{
   width: 510px;   
}
.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}